# API PORT
PORT=3000
NODE_ENV=development #production
LOG_LEVEL=debug

# Database
POSTGRES_DB_URL=postgresql://username:password@localhost/database

# JWT (example)
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h

# PG Admin
PGADMIN_DEFAULT_EMAIL=admin@domain.com
PGADMIN_DEFAULT_PASSWORD=password